@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap');

@import "tailwindcss";

@theme {
--color-surface-cream: #F9F5EA;
--color-surface-white: #FFFFFF;

--color-blue-100: #C5D5F4;
--color-blue-200: #ACCBE8;
--color-blue-600: #0054C6;
--color-blue-900: #001868;

--color-black: #000000;
--color-shadow-sm: #00000019;
--color-shadow-md: #00000029;

--color-neutral-900: #1F1F1F;
--color-neutral-700: #424242;
--color-neutral-600: #707070;
--color-neutral-500: #9F9F9F;
--color-neutral-400: #AEADAC;
--color-neutral-300: #D8D8DF;
--color-neutral-200: #E4E4E4;
}


